<script lang="ts">
	import App from '$lib/components/App.svelte';
	let backgroundImage = 'background-image.png';
</script>

<!-- <img src={backgroundImage} alt="background" /> -->
<div>
	<App />
</div>

<style>
	/* img {
		position: absolute;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		z-index: -2;
	} */

	div {
		height: 100vh;
		background-color: #f7cc3127;
	}
</style>
